* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
	scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/** SECCION "INICIO"*/

#inicio {
	background-color: #1D1C1C;
    height: 100vh;
    width: 100vw;
}

#inicio .wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 100vh;
}

#inicio .contenido header {
	background-color: rgba(22,193,185, .8);
	position: fixed;
	width: 100%;
    z-index: 100;
	top: 0;
    min-height:  30px;
    max-height: 70px;
}

#inicio .contenido header .contenido-header {
	max-width: 1100px ;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px ;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    padding-right: 10px;
    margin-left: 20px;
}

.checkbtn {
    display: block;
    font-size: 30px;
	color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 80%;
    height: 70vh;
    top: 69px;
    right: -100%;
    background-color: #2A2929;
    text-align: center;
    transition: all 1s; 
}

.menu-visible {
    right: 0;
}

#inicio .contenido header .contenido-header nav ul li {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-size: 15px;
}

#inicio .contenido header .contenido-header nav ul li a {
	text-decoration: none;
	color: #fff;
    overflow: hidden;
    position: relative;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #F99831;
    transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a::after {
    content: "";
    background-color: #F99831;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover::after {
    opacity: 1;
}

header.abajo {
    box-shadow: inset 0 0 15px #fff; 
}

#inicio .contenido .presentacion {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 100px;
    padding: 0 50px;
}

#inicio .contenido .presentacion h2 {
	font-size: 20px;
}

.tit-present {
    padding-bottom: 15px;
}

.carl {
    border: 3px solid #16C1B9;
    padding: 0;
}

#name-color {
    color: #F99831;
    font-style: italic;
}

.soy {
	color: #16C1B9;
    font-style: italic;
}

#check {
    display: none;
}

/** SECCION "DATOS PERSONALES"*/

#datospersonales {
    background-color: #16C1B9;
    width: 100vw;
    height: 100vh;
}

.datosp {
    position: relative;
    color: #1D1C1C;
    font-size: 30px;
    top: 95px;
    text-align: center;
}

.list-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-datos li {
    padding: 5px;
    font-size: 14px;
} 

.list-datos li span {
    font-size: 14px;
    font-weight: bold;
    color: #1D1C1C;
}

.conteiner-DP {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#contenido-datospersonales {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 15px;
    background-color: #E58929;
    box-shadow: 5px 6px 15px #4A4848;
    width: 90vw;
    height: 70vh;
    padding: 10px 40px;
}

.img-DP {
    width: 200px;
}


/** SECCION "FORMACION ACADEMICA"*/

#formacionacademica {
    background-color: #1D1C1C;
    height: 100vh;
}

.contenido-formacademica {
    height: 100vh;
    width: 100vw;
}

.form-acad {
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
    position: relative;
    top: 90px;
}

.ul-form {
    width: 90vw;
    height: auto;
    padding-top: 10px;
}

.ul-form li {
    font-size: 14px;
    color: #16C1B9;
}

.ul-form li span {
    color: #fff;
}

.periodo {
    text-decoration: none;
    list-style: none;
    padding-bottom: 5px;
}

.titulo1 {
    height: auto;
    width: 90vw;
    background-color: #2A2929;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #111111;
    border-bottom: 1px solid #16C1B9;
}

.ul-form .titulo1 li {
    padding: 2px;
}

.titulo2 {
    height: auto;
    width: 90vw;
    background-color: #2A2929;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #111111;
    border-bottom: 1px solid #16C1B9;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    top: 90px;
    width: auto;
    height: auto;
}

.conteiner-sliders {
    margin: 0 20px;
    width: 90%;
    height: auto;
    z-index: 2;
    padding-bottom: 10px;
}

.sliders {
    overflow: hidden;
    border: #16C1B9 solid 3px;
    border-radius: 5px;
}

.sliders ul {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
    animation-direction: normal ;
}

.sliders li {
    list-style: none;
    width: 100%;
}

.sliders img {
    width: 100%; 
    height: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    28% {margin-left: 0%;}

    33% {margin-left: -100%;}
    61% {margin-left: -100%;}

    66% {margin-left: -200%;}
    94% {margin-left: -200%;} 
}

/** SECCION "EXPERIENCIA" */
#experiencia {
    background-color: #1D1C1C;
    background-size: cover;
    background-position: center, center;
    height: 100vh;
}

.contenido-habilidades {
    height: 100vh;
}

.contenido-experiencia {
    padding-top: 80px;
    font-size: 20px;
    color: #fff;
    height: 100vh;
}

.año2 {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    padding-bottom: 5px;
}

.año2 span {
    color: #16C1B9;
}

.exper {
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
    position: relative;
    top: 40px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    position: relative;
    left: 15px;
}

.exp1,
.exp2 {
    width: 90%;
    background-color: #2A2929;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #16C1B9;
    border-left: 5px solid #16C1B9;
    box-shadow: 5px 5px 10px #111111;
}

.exp3 {
    width: 90%;
    background-color: #2A2929;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #16C1B9;
    border-left: 5px solid #16C1B9;
    box-shadow: 5px 5px 10px #111111;
}


/** SECCION "HABILIDADES"*/

#habilidades {
    background-color: #000000;
    height: 100vh;
    width: 100%;
}

.habi {
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
    position: relative;
    top: 110px;
}

.conteiner-habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades-ul {
    font-size: 12px;
    color: #fff;
    padding: 0 30px;
    padding-bottom: 20px;
}

.habilidades-ul li {
    padding: 5px;
}

.habilidades-img ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #16C1B9;
    padding-top: 10px;
}

.habilidades-img ul li {
    text-align: center;
}

.habilidades-img ul li img {
    width: 80%;
    height: 100%;
}

/** SECCION "CONTACTO"*/

#contacto {
    background: #1D1C1C;
    width: auto;
    height: 100vh;
    color: #fff;
    position: relative;
}

.h2-contact {
    position: relative;
    top: -65px;
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
}

.contact-info {
    background-color: #000000;
    padding: 16px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    padding-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding-bottom: 10px;
}

.contact-info ul li {
    padding: 5px;
}

.contact-info ul li i {
    color: #16C1B9;
}

.contact-form form {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 11px;
    border: none;
    background: none;
    border-bottom: 1px solid #16C1B9;
    outline: none;
    color: #fff;
}

.block span {
    font-weight: bold;
}

.contact-form form p {
    padding: 10px;
}

.contact-form form button {
    background-color: #16C1B9;
    border: 0;
    color: #000000;
    text-transform: uppercase;
}

.contact-form form button:hover {
    box-shadow: 1px 1px 10px #16C1B9;
    transition: .3s;
    outline: 0;
}

.contactame {
    width: 90vw;
    height: 100%;
    background-color: #2A2929;
    box-shadow: 0 0 15px #16C1B9;
    display: grid;
    grid-template-columns: 2fr;
}

.cont {
    display: flex;
    place-content: center;
    font-size: 14px;
    position: relative;
    top: -50px;
}

.content2 {
    position: relative;
    top: 150px;
    height: 100vh;
}

.CV-descarga {
    list-style: none;
    text-decoration: none;
    color: #000000;
    background-color: #16C1B9;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.CV-descarga:hover {
    box-shadow: 1px 1px 15px #16C1B9;
    transition: .3s;
    outline: 0;
}

.Descarga {
    display: flex;
    flex-direction: column;
    position: relative;
}


/**SECCION PIE DE PAGINA*/

.footer {
    background-color: #16C1B9;
    width: 100%;
    height: 400px;
    font-size: 12px;
}

.footer .wave-f {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    position: relative;
    top: 5px;
}

.contenedor-footer a {
    list-style: none;
    text-decoration: none;
    color: #000000;
    padding: 20px;
}

.contenedor-footer a i {
    font-size: 18px;
    border-radius: 20px;
}

.contenedor-footer a i:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: #16C1B9;
    transition: .3s;
}

.footer h2 b {
    font-family: 'Arapey', serif;
    font-size: 30px;
    padding-left: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    left: -10px;
}

.avisos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 5px;
}

.made-by {
    position: relative;
    top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*RESPONSIVE MOVIL M*/

@media screen and (min-width: 375px) {

    /*FORMACION ACADEMICA*/

    .form-acad {
        padding: 0 10px;
    }

    .info {
        top: 100px;
    }

    /*HABILIDADES*/

    .habilidades {
        position: relative;
        top: 20px;
    }

    .habilidades-ul {
        font-size: 14px;
    }

    .content-img .habilidades-img ul li img {
        width: 90%;
    }

    /*CONTACTO*/

    .contactame {
        width: 85vw;
    }

    /*FOOTER*/

    .footer {
        font-size: 14px;
    }

}

/*RESPONSIVE MOVIL L*/

@media screen and (min-width: 425px) {

    /*MENU E INICIO*/

    #inicio .contenido .presentacion h2 {
        font-size: 22px;
    }

    #inicio .contenido .presentacion {
        align-items: center;
        top: 110px;
    }

    #inicio .contenido .presentacion .tit-present {
        padding: 10px 35px;
    }

    .carl {
        width: 90%;
    }

    /*DATOS PERSONALES*/

    .list-datos li {
        font-size: 15px;
    }

    /*FORMACION ACADEMICA*/

    .form-acad {
        top: 110px;
    }

    .info {
        top: 120px;
    }

    /*EXPERIENCIA*/

    .exp3 {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    /*HABILIDADES*/

    .habilidades {
        width: 100%;
    }

    .habilidades-ul {
        font-size: 15px;
    }

    /*CONTACTO*/

    .h2-contact {
        top: -55px;
    }

    .contactame {
        grid-template-columns: 1fr;
        width: 80vw;
    }

    .cont {
        top: -30px;
    }

}

/*RESPONSIVE TABLET*/

@media screen and (min-width: 768px) {

    /*MENU E INICIO*/

    #inicio .contenido header .contenido-header nav ul li {
        padding: 20px;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 28px;
    }

    #inicio .contenido .presentacion .tit-present {
        padding: 0 0 30px 0;
        text-align: center;
    }

    #inicio .contenido .presentacion {
        top: 170px;
    }

    .carl {
        width: 70%;
    }

    /*DATOS PERSONALES*/

    .datosp {
        font-size: 40px;
    }

    .list-datos {
        padding-left: 20px;
    }

    .list-datos li {
        font-size: 22px;
    }

    .list-datos li span {
        font-size: 22px;
    }

    .img-DP {
        width: 300px;
    }

    /*FORMACION ACADEMICA*/

    .form-acad {
        font-size: 40px;
        top: 120px;
    }
    .info {
        top: 150px;
    }

    .conteiner-sliders {
        width: 600px;
    }

    .sliders {
        border: 4px solid #16C1B9;
    }

    .titulo1,
    .titulo2 {
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .ul-form li {
        font-size: 20px;
    }

    /*EXPERIENCIA*/

    .exper {
        font-size: 40px;
        top: 70px;
    }

    .experiencia {
        font-size: 20px;
        align-items: center;
        left: 0;
        top: 60px;
    }

    .exp1,
    .exp2,
    .exp3 {
        width: 85vw;
        padding-left: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .año2 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    /*HABILIDADES*/

    .habi {
        font-size: 40px;
        top: 140px;
    }

    .habilidades {
        top: 5px;
    }

    .habilidades-ul {
        font-size: 22px;
    }

    .content-img .habilidades-img ul {
        width: 450px;
    }


    /*CONTACTO*/

    .h2-contact {
        font-size: 40px;
        top: -20px;
    }

    .cont {
        font-size: 18px;
        height: 100%;
        top: 40px;
    }

    .contactame {
        grid-template-columns: 2fr 1fr;
        width: 80vw;
        height: 600px;
    }

    .contact-form form {
        padding: 16px;
    }

    .contact-form form button span {
        font-size: 18px;
    }

    .CV-descarga {
        font-size: 18px;
    }

    /*FOOTER*/

    .footer {
        font-size: 20px;
    }

    .footer h2 b {
        font-size: 40px;
    }

    .logo-footer {
        top: -20px;
    }
}

/*RESPONSIVE DESKTOP */

@media screen and (min-width: 1024px) {

    /*MENU E INICIO*/

    .nav-menu {
        background-color: transparent;
        right: 0;
        height: 0;
        width: 100%;
        top: 35px;
        padding-left: 40px;
        transition: none;
    }

    #inicio .contenido header .contenido-header nav ul li {
        display: inline-block;
        margin: 0;
    }

    .checkbtn {
        display: none;
    }


    #inicio .contenido .presentacion {
        display: flex;
        flex-direction: row;
    }

    #inicio .contenido .presentacion .tit-present {
        text-align: left;
        padding: 0;
        max-width: 450px;
    } 
    
    .carl {
        width: auto;
        margin-left: 40px;
    }

    /*DATOS PERSONALES*/

    .datosp {
        font-size: 45px;
    }

    #contenido-datospersonales {
        grid-template-columns: 1fr 1fr;
        padding: 0 50px;
        align-items: center;
        justify-items: center;
    }

    .img-DP {
        width: 400px;
        text-align: center;
    }

    /*FORMACION ACADEMICA*/

    .form-acad {
        font-size: 45px;
    }

    .info {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        position: relative;
        top: 150px;
        font-size: 25px;
    }
      
    .ul-form {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        position: relative;
        right: 40px;
        padding: 0;
      }
      
    .ul-form li {
        font-size: 17px;
        color: #16c1b9;
      }
      
    .ul-form li span {
        color: #fff;
    }
      
    .periodo {
        text-decoration: none;
        list-style: none;
    }
      
    .titulo1 {
        max-width: 550px;
        background-color: #2a2929;
        padding-left: 80px;
        padding-top: 10px;
        padding-bottom: 7px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #111111;
        border-right: 3px solid #16c1b9;
        border-bottom: 1px solid #16c1b9;
    }
      
    .titulo2 {
        max-width: 550px;
        background-color: #2a2929;
        padding-left: 80px;
        padding-top: 15px;
        padding-bottom: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #111111;
        border-right: 3px solid #16c1b9;
        border-bottom: 1px solid #16c1b9;
    }

    .titulo2 li {
        padding-bottom: 5px;
    }
      
    .conteiner-sliders {
        width: 90%;
        z-index: 2;
        margin: 0;
        margin-left: 20px;
    }

    /*EXPERIENCIA*/

    .exper {
        font-size: 45px;
        top: 30px;
    }

    .experiencia {
        font-size: 22px;
        top: -30px;
    }

    .exp1,
    .exp2 {
        width: 90vw;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .exp3 {
        width: 90vw;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    /*HABILIDADES*/

    .habi {
        font-size: 45px;
        top: 130px;
    }

    .habilidades {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .habilidades-ul {
        border-right: 1px solid #16C1B9;
        padding-bottom: 0;
        padding-top: 0;
    }

    .content-img .habilidades-img ul {
        width: 100%;
        border-top: none;
        padding-bottom: 0; 
        padding-left: 20px;
    }

    .content-img .habilidades-img ul li img {
        width: 100%;
    }

    /*CONTACTO*/

    .h2-contact {
        font-size: 45px;
        top: -40px;
    }

    .cont {
        top: 0;
    }

    .contactame {
        height: 450px;
        width: 70vw;
    }

    /*FOOTER*/

    .footer {
        font-size: 15px;
    }

    .footer h2 b {
        font-size: 50px;
    }

    .logo-footer {
        top: -30px;
    }

    .contenedor-footer {
        padding-top: 15px;
        top: 0;
    }

}

/*RESPONSIVE DESKTOP L*/

@media screen and (min-width: 1440px) {

    /*MENU E INICO*/

    #inicio .contenido .presentacion {
        height: 100vh;
        top: 0;
    }

    /*DATOS PERSONALES*/

    .list-datos li {
        font-size: 25px;
        padding: 10px 0;
    }

    .list-datos li span {
        font-size: 25px;
    }

    /*FORMACION ACADEMICA*/

    .conteiner-sliders {
        width: 90vw;
    }

    .titulo1 {
        max-width: 700px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .titulo2 {
        max-width: 700px;
    }
    
    /*EXPERIENCIA*/

    .exper {
        font-size: 50px;
    }

    .año2 {
        font-size: 25px;
    }

    .experiencia {
        font-size: 25px;
    }

    .exp3 {
        padding-bottom: 10px;
    }

    /*HABILIDADES*/

    .habi {
        font-size: 50px;
    }

    /*CONTACTO*/

    .h2-contact {
        font-size: 50px;
    }

    .contactame {
        width: 60vw;
        height: 550px;
    }

}



