* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
	scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/** SECCION "INICIO"*/

#inicio {
	background-color: #1D1C1C;
    height: 100vh;
    width: 100vw;
}

#inicio .wave {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#inicio .contenido header {
	background-color: rgba(22,193,185, .8);
	position: fixed;
	width: 100%;
    z-index: 100;
	top: 0;
    min-height:  30px;
    max-height: 70px;
}

#inicio .contenido header .contenido-header {
	max-width: 1100px ;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px ;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    padding-right: 10px;
    margin-left: 20px;
}

.checkbtn {
    display: block;
    font-size: 30px;
	color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 80%;
    height: 70vh;
    top: 69px;
    right: -100%;
    background-color: #2A2929;
    text-align: center;
    transition: all 1s; 
}

.menu-visible {
    right: 0;
}

#inicio .contenido header .contenido-header nav ul li {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-size: 15px;
}

#inicio .contenido header .contenido-header nav ul li a {
	text-decoration: none;
	color: #fff;
    overflow: hidden;
    position: relative;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #F99831;
    transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a::after {
    content: "";
    background-color: #F99831;
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover::after {
    opacity: 1;
}

header.abajo {
    box-shadow: inset 0 0 15px #fff; 
}

#inicio .contenido .presentacion {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 150px;
    padding: 0 50px;
}

#inicio .contenido .presentacion h2 {
	font-size: 20px;
}

.tit-present {
    padding-bottom: 15px;
}

.carl {
    border: #16C1B9 solid 3px;
    width: 70vw;
    padding: 0;
}

#name-color {
    color: #F99831;
}

.soy {
	color: #16C1B9;
}

#check {
    display: none;
}

/** SECCION "DATOS PERSONALES"*/

#datospersonales {
    background-color: #16C1B9;
    width: 100vw;
    height: 100vh;
}

.datosp {
    position: relative;
    color: #1D1C1C;
    font-size: 30px;
    top: 90px;
    text-align: center;
}

.list-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-datos li {
    padding: 10px;
    font-size: 14px;
} 

.list-datos li span {
    font-size: 14px;
    font-weight: bold;
    color: #1D1C1C;
}

.conteiner-DP {
    width: 90%;
    height: 80%;
    position: relative;
    top: 60px;
    left: 18px;
}

#contenido-datospersonales {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 15px;
    background-color: #E58929;
    box-shadow: 5px 6px 15px #4A4848;
    width: 90vw;
    height: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.img-DP {
    width: 200px;
}


/** SECCION "FORMACION ACADEMICA"*/

#formacionacademica {
    background-color: #1D1C1C;
    height: 100vh;
}

.form-acad {
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
    position: relative;
    top: 90px;
}

.ul-form {
    width: 90vw;
    height: auto;
    padding-top: 20px;
}

.ul-form li {
    font-size: 14px;
    color: #16C1B9;
}

.ul-form li span {
    color: #fff;
}

.años {
    text-decoration: none;
    list-style: none;
    padding-bottom: 5px;
}

.titulo1 {
    height: auto;
    width: 90vw;
    background-color: #2A2929;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #111111;
    border-bottom: 1px solid #16C1B9;
}

.ul-form .titulo1 li {
    padding: 2px;
}

.titulo2 {
    height: auto;
    width: 90vw;
    background-color: #2A2929;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #111111;
    border-bottom: 1px solid #16C1B9;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
    top: 90px;
}

.tmñ-sliders {
    margin: 0 20px;
    width: 300px;
    z-index: 2;
    padding-bottom: 10px;
}

.sliders {
    overflow: hidden;
    border: #16C1B9 solid 3px;
    border-radius: 5px;
}

.sliders ul {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
    animation-direction: normal ;
}

.sliders li {
    list-style: none;
    width: 100%;
}

.sliders img {
    width: 100%; 
    height: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    28% {margin-left: 0%;}

    33% {margin-left: -100%;}
    61% {margin-left: -100%;}

    66% {margin-left: -200%;}
    94% {margin-left: -200%;} 
}

/** SECCION "EXPERIENCIA" */
#experiencia {
    background-color: #1D1C1C;
    background-size: cover;
    background-position: center, center;
    height: 100vh;
}

.contenido-experiencia {
    padding-top: 80px;
    font-size: 20px;
    color: #fff;
}

.año2 {
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    padding-bottom: 5px;
}

.año2 span {
    color: #16C1B9;
}

.exper {
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
    position: relative;
    top: 40px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    position: relative;
    left: 15px;
}

.exp1,
.exp2 {
    width: 90%;
    background-color: #2A2929;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #16C1B9;
    border-left: 5px solid #16C1B9;
    box-shadow: 5px 5px 10px #111111;
}

.exp3 {
    width: 90%;
    background-color: #2A2929;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #16C1B9;
    border-left: 5px solid #16C1B9;
    box-shadow: 5px 5px 10px #111111;
}


/** SECCION "HABILIDADES"*/

#habilidades {
    background-color: #000000;
    height: 100vh;
    width: 100%;
}

.habi {
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
    position: relative;
    top: 110px;
}

.conteiner-habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades-ul {
    font-size: 12px;
    color: #fff;
    padding: 0 30px;
    padding-bottom: 20px;
}

.habilidades-ul li {
    padding: 5px;
}

.habilidades-img ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #16C1B9;
    padding-top: 10px;
}

.habilidades-img ul li {
    text-align: center;
}

.habilidades-img ul li img {
    width: 80%;
    height: 100%;
}

/** SECCION "CONTACTO"*/

#contacto {
    background: #1D1C1C;
    width: auto;
    height: 100vh;
    color: #fff;
    position: relative;
}

.h2-contact {
    position: relative;
    top: -65px;
    font-size: 30px;
    color: #16C1B9;
    text-align: center;
}

.contact-info {
    background-color: #000000;
    padding: 16px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    padding-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding-bottom: 10px;
}

.contact-info ul li {
    padding: 5px;
}

.contact-info ul li i {
    color: #16C1B9;
}

.contact-form form {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 11px;
    border: none;
    background: none;
    border-bottom: 1px solid #16C1B9;
    outline: none;
    color: #fff;
}

.block span {
    font-weight: bold;
}

.contact-form form p {
    padding: 10px;
}

.contact-form form button {
    background-color: #16C1B9;
    border: 0;
    color: #000000;
    text-transform: uppercase;
}

.contact-form form button:hover {
    box-shadow: 1px 1px 10px #16C1B9;
    transition: .3s;
    outline: 0;
}

.contactame {
    width: 90vw;
    height: 100%;
    background-color: #2A2929;
    box-shadow: 0 0 15px #16C1B9;
    display: grid;
    grid-template-columns: 2fr;
}

.cont {
    display: flex;
    place-content: center;
    font-size: 14px;
    position: relative;
    top: -50px;
}

.content2 {
    position: relative;
    top: 150px;
}

.CV-descarga {
    list-style: none;
    text-decoration: none;
    color: #000000;
    background-color: #16C1B9;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.CV-descarga:hover {
    box-shadow: 1px 1px 15px #16C1B9;
    transition: .3s;
    outline: 0;
}

.Descarga {
    display: flex;
    flex-direction: column;
    position: relative;
}


/**SECCION PIE DE PAGINA*/

.footer {
    background-color: #16C1B9;
    width: 100%;
    height: 400px;
    font-size: 12px;
}

.footer .wave-f {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    position: relative;
    top: 5px;
}

.contenedor-footer a {
    list-style: none;
    text-decoration: none;
    color: #000000;
    padding: 20px;
}

.contenedor-footer a i {
    font-size: 18px;
    border-radius: 20px;
}

.contenedor-footer a i:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: #16C1B9;
    transition: .3s;
}

.footer h2 b {
    font-family: 'Arapey', serif;
    font-size: 30px;
    padding-left: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    left: -10px;
}

.avisos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 5px;
}

.made-by {
    position: relative;
    top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* RESPONSIVE DESKTOP 

@media screen and (max-width:1440px) {

    /*MENU E INICIO

    .tit-present {
        padding-left: 0;
    }

    /*FORMACION ACADEMICA

    .titulo1,
    .titulo2 {
        width: 100%;
    }

    /*EXPERIENCIA

    .exper {
        padding-top: 70px;
    }

    .experiencia {
        position: relative;
        top: -20px;
    }

    .exp1 {
        width: 90%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 40px
    }

    .exp2 {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px
    }

    .exp3 {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px
    }


}

/*RESPONSIVE TABLET MINI

@media screen and (min-width: 500px) and (max-width: 767px) {

    /*MENU E INICIO

    .checkbtn {
        display: block;
    }

    h1 {
        margin-left: 20px;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 80%;
        height: 70vh;
        top: 68px;
        right: -100%;
        background-color: #2A2929;
        text-align: center;
        transition: all 1s; 
    }

    .menu-visible {
        right: 0;
    }
 
    nav ul li {
        margin: 45px;
    }

    #inicio .contenido header .contenido-header nav ul li a {
        margin: 0;
        padding: 25px;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 30px;
    }

    #inicio .contenido .presentacion  {
        padding: 40px;
    }

    /*DATOS PERSONALES

    #datospersonales {
        flex-direction: column-reverse;
    }

    .izquierdaDP {
        height: 50vh;
        width: 100%;
    }

    .derechaDP {
        height: 50vh;
        width: 100%;
    }

    #contenido-datospersonales {
        text-align: center;
        position: relative;
        left: 60px;
        margin: 0;
    }

    .datosp {
        font-size: 30px;
        top: 100px;
    }

    .ul-datos {
        top: -20px;
        font-size: 15px;
    }

    /*FORMACION ACADEMICA

    .info {
        place-content: center;
        grid-template-columns: 1fr;
        font-size: 20px;
        top: 130px;
    }

    .tmñ-sliders {
        width: 500px;
        padding: 0;
        display: flex;
        justify-self: center;
    }

    .ul-form {
        display: grid;
        justify-content: center;
        padding-top: 40px;
    }

    .ul-form li {
        font-size: 23px;
    }

    .form-acad {
        font-size: 35px;
        padding: 0 5px;
        top: 100px;
    }

    /*EXPERIENCIA

    .exper {
        font-size: 40px;
        position: relative;
        top: 30px;
    }
 
    .experiencia {
        padding-left: 50px;
        padding-top: 80px;
        font-size: 23px;
    }
 
    .año2 {
        font-size: 25px;
    }

    /*HABILIDADES

    .habi {
        font-size: 40px;
        top: 140px;
    }

    .conteiner-habilidades {
        top: 210px;
    }
    
    .habilidades {
        flex-direction: column;
        width: 85vw;
        height: 70%;
        padding: 20px 60px;
    }

    .habilidades-ul {
        font-size: 20px;
        text-align: start;
    }

    .content-img {
        display: flex;
    }

    .habilidades-img ul {
        grid-template-columns: auto auto auto;
    }

    .habilidades-ul li {
        padding: 5px;
    }

    /*CONTACTO

    .h2-contact {
        top: -70px;
    }

    .contactame {
        grid-template-columns: 1fr;
        width: 80vw;
    }

    .cont {
        bottom: 200px;
    }

    .contact-info {
        box-shadow: 1px 1px 10px #16C1B9;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

}


/*RESPONSIVE TABLET

@media screen and (min-width: 768px) and (max-width: 900px) {

    /*MENU E INICIO

    .checkbtn {
        display: block;
    }

    h1 {
        margin-left: 20px;
    }

    .nav-menu {
        display: grid;
        place-content: center;
        position: fixed;
        width: 70%;
        height: 60vh;
        top: 68px;
        right: -100%;
        background-color: #2A2929;
        text-align: center;
        transition: all 1s; 
    }

    .menu-visible {
        right: 0;
    }
 
    nav ul li {
        display: grid !important;
        place-content: center;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 30px;
    }

    #inicio .contenido .presentacion  {
        padding: 40px;
    }

    /*DATOS PERSONALES

    #datospersonales {
        flex-direction: column-reverse;
    }

    .izquierdaDP {
        height: 50vh;
        width: 100%;
    }

    .derechaDP {
        height: 50vh;
        width: 100%;
    }

    #contenido-datospersonales {
        text-align: center;
        position: relative;
        left: 80px;
        margin: 0;
    }

    .datosp {
        font-size: 40px;
        top: 100px;
    }

    .ul-datos {
        top: -20px;
        font-size: 22px;
    }

    /*FORMACION ACADEMICA

    .info {
        grid-template-columns: 1fr;
        font-size: 20px;
        justify-items: center;
        top: 130px;
    }

    .tmñ-sliders {
        width: 650px;
        display: flex;
        justify-self: center;
    }

    .ul-form {
        display: grid;
        justify-content: center;
    }

    .ul-form li {
        font-size: 23px;
    }

    .form-acad {
        font-size: 40px;
        padding: 0 5px;
        top: 100px;
    }

    /*EXPERIENCA

    .exper {
        font-size: 45px;
    }

    .experiencia {
        padding-top: 50px;
        padding-left: 50px;
    }

    /*HABILIDADES

    .habi {
        font-size: 45px;
        top: 140px;
    }

    .conteiner-habilidades {
        top: 210px;
    }
    
    .habilidades {
        flex-direction: column;
        width: 80vw;
        height: 70%;
        padding: 20px 60px;
    }

    .habilidades-ul {
        font-size: 25px;
        text-align: start;
    }

    .content-img {
        display: flex;
    }

    .habilidades-img ul {
        grid-template-columns: auto auto auto;
    }

    .habilidades-ul li {
        padding: 5px;
    }

    /*CONTACTO

    .h2-contact {
        font-size: 45px;
    }

    .contactame {
        width: 80vw;
    }

    .cont {
        bottom: 160px;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

}

/*RESPONSIVE DESKTOP

@media screen and (min-width: 901px) and (max-width: 1200px) {

    /*MENU E INICIO

    h1 {
        padding-left: 20px;
    }

    nav {
        font-size: 1.3vw;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 40px;
    }

    #inicio .contenido .presentacion  {
        padding: 100px;
    }

    /*DATOS PERSONALES

    .izquierdaDP {
        width: 40%;
    }
    
    .derechaDP {
        width: 60%;
    }

    .datosp {
        top: 80px;
    }

    #contenido-datospersonales {
        display: grid;
        place-content: center;
        margin: 0;
        padding-left: 20px;
        position: static;
    }

    /*FORMACION ACADEMICA

    .info {
        top: 90px;
        display: grid;
        place-content: center;
        grid-template-columns: 1fr;
    }

    .tmñ-sliders {
        width: 700px;
        display: flex;
        justify-self: center;
    }

    .ul-form {
        display: grid;
        justify-content: center;
    }

    /*HABILIDADES

    .habi {
        top: 130px;
    }

    .conteiner-habilidades {
        top: 200px;
    }

    .habilidades-ul {
        font-size: 19px;
    }

}

@media screen and (min-width: 1201px) {

    /*MENU E INICIO

    h1 {
        padding-left: 20px;
    }

    nav {
        font-size: 15px;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 40px;
    }

    #inicio .contenido .presentacion  {
        padding: 100px;
    }

    /*DATOS PERSONALES

    .izquierdaDP {
        width: 50%;
    }
    
    .derechaDP {
        width: 50%;
    }

    .datosp {
        top: 80px;
    }

    #contenido-datospersonales {
        display: grid;
        place-content: center;
        margin: 0;
        padding: 0;
    }

    /*FORMACION ACADEMICA

    .info {
        top: 90px;
    }

    .ul-form {
        padding: 0 25px;
    }

    /*HABILIDADES

    .habi {
        top: 130px;
    }

    .conteiner-habilidades {
        top: 200px;
    }

    .habilidades-ul {
        font-size: 19px;
    }

    /*CONTACTO

    .contactame {
        height: 500px;
    }
    
}

*/

