* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/** SECCION "INICIO"*/

#inicio {
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("Fondo1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#inicio .contenido header {
	background-color: rgba(22,193,185, .8);
	position: fixed;
	width: 100%;
    z-index: 100;
	top: 0;
    min-height:  30px;
    max-height: 70px;
}

#inicio .contenido header .contenido-header {
	max-width: 1100px ;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px ;
    text-decoration: none;
}

h1 {
    font-size: 2em;
	color: #fff;
}

#inicio .contenido header .contenido-header  nav ul li {
    display: inline-block;
}

#inicio .contenido header .contenido-header  nav ul li a {
	text-decoration: none;
	color: #fff;
	margin: 0 12px;
	font-weight: 400;
	transition: 0.4s;
    text-shadow: 1px 1px 5px grey;
    overflow: hidden;
    padding: 30px 15px 24px 15px;
}

#inicio .contenido header .contenido-header  nav ul li a:hover {
	background-color: none;
    box-shadow: inset 0px 0 25px #fff;
}

header.abajo {
    box-shadow: inset 0 0 15px #fff; 
}

#inicio .contenido .presentacion {
	height: 100vh;
	margin: auto;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 300px;
}

#inicio .contenido .presentacion h2 {
	font-size: 55px;
	margin-bottom: 25px;
}

#name-color {
    color: #F99831;
}

.soy {
	color: #16C1B9;
}

.checkbtn {
    font-size: 30px;
	color: #fff;
    float: right;
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

#check {
    display: none;
}

/** SECCION "DATOS PERSONALES"*/

/**SECTION*/
#datospersonales {
    display: flex;
}

.izquierdaDP {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("CARL.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;
    display: flex;
}

.derechaDP {
    background-color: #C87115;
    display: flex;
    height: 100vh;
    width: 50%;
}

/** TITULO DE LOS DATOS PERSONALES DEL CV*/
.datosp {
    position: relative;
    top: 50px;
    left: -20px;
    color: #fff;
    font-size: 50px;
    display: flex;
    text-align: right;
    justify-content: flex-start;
}

/** LOS DATOS PERSONALES DEL CV*/
.ul-datos {
    position: relative;
    top: 30px;
    color: #5F3304;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 600px;
}

.ul-datos li {
    padding: 10px;
    position: relative;
    bottom: -100px;
}

li span {
    color: #fff ;
}

#contenido-datospersonales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    left: 80px;
    width: 100%;
    height: 100%; 
    margin: 0 40px; 
}

/** SECCION "FORMACION ACADEMICA"*/

#formacionacademica {
    background-color: #1D1C1C;
    height: 100vh;
}

.form-acad {
    font-size: 50px;
    color: #16C1B9;
    text-align: center;
    padding-top: 100px;
    top: 50px;
    position: relative;
}

.ul-form {
    width: 100%;
    height: auto;
    padding-left: 25px;
    position: relative;
}

.ul-form li {
    font-size: 27px;
    color: #16C1B9;
}

.ul-form li span {
    color: #fff;
}

.años {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding-bottom: 35px;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: end;
    width: 100%;
    height: auto;
    position: relative;
    top: 150px;
    font-size: 25px;
}

.tmñ-sliders {
    width: 750px;
    height: 100%;
    padding: 20px;
}

.sliders {
    overflow: hidden;
    border: #16C1B9 solid 5px;
}

.sliders ul {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
    animation-direction: normal ;
}

.sliders li {
    list-style: none;
    width: 100%;
}

.sliders img {
    width: 100%; 
    height: 100%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    28% {margin-left: 0%;}

    33% {margin-left: -100%;}
    61% {margin-left: -100%;}

    66% {margin-left: -200%;}
    94% {margin-left: -200%;} 
}

/** SECCION "EXPERIENCIA" */
#experiencia {
    background-color: #1D1C1C;
    background-size: cover;
    background-position: center, center;
    height: 100vh;
}

.contenido-experiencia {
    padding-top: 80px;
    font-size: 20px;
    color: #fff;
}

.año2 {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding-bottom: 35px;
}

.año2 span {
    color: #fff;
}

.exper {
    font-size: 50px;
    color: #16C1B9;
    padding-top: 60px;
    padding-left: 80px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    font-size: 25px;
}

/** SECCION "HABILIDADES"*/

#habilidades {
    background-color: #1D1C1C;
    height: 100vh;
}

.habi {
    position: relative;
    top: 130px;
    font-size: 50px;
    color: #16C1B9;
    text-align: center;
}

.conteiner-habilidades {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
}

.habilidades {
    border: #16C1B9 solid 2px;
    box-shadow: 5px 5px 15px #16C1B9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 100%;
    padding: 20px 60px;
}

.habilidades-img ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.habilidades-img ul li img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.habilidades-ul {
    font-size: 25px;
    color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.habilidades-ul li {
    padding: 10px;
}

/** SECCION "CONTACTO"*/

#contacto {
    background: #1D1C1C;
    width: auto;
    height: 100vh;
    padding: 50px;
    color: #fff;
    position: relative;
}

.h2-contact {
    position: relative;
    top: -70px;
    padding-bottom: 200px;
    font-size: 50px;
    color: #16C1B9;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact-info {
    background-color: #000000;
    padding: 16px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: 5px;
}

.contact-info ul li i {
    color: #16C1B9;
}


.contact-form {
    padding: 20px;
}

.contact-form form {
    margin: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 11px;
    border: none;
    background: none;
    border-bottom: 1px solid #16C1B9;
    outline: none;
    color: #fff;
}

.contact-form form p {
    padding: 10px;
}

.contact-form form button {
    background-color: #16C1B9;
    border: 0;
    color: #000000;
    text-transform: uppercase;
    padding: 16px;
}

.contact-form form button:hover {
    box-shadow: 1px 1px 10px #16C1B9;
    transition: .3s;
    outline: 0;
}

.contactame {
    width: 50vw;
    height: 600px;
    background-color: #2A2929;
    box-shadow: 0 0 15px #16C1B9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cont {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 200px;
}

.content2 {
    position: relative;
    top: 150px;
}

.CV-descarga {
    list-style: none;
    text-decoration: none;
    color: #000000;
    background-color: #16C1B9;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
}

.CV-descarga:hover {
    box-shadow: 1px 1px 15px #16C1B9;
    transition: .3s;
    outline: 0;
}

.Descarga {
    display: flex;
    flex-direction: column;
    position: relative;
}

/**SECCION PIE DE PAGINA*/

footer {
    background-color: #16C1B9;
    width: 100%;
    height: 200px;
    font-size: 15px;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    position: relative;
    top: 5px;
}

.contenedor-footer a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.contenedor-footer a i {
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}

.contenedor-footer a i:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: #16C1B9;
    transition: .3s;
}

footer h2 b {
    font-family: 'Arapey', serif;
    font-size: 40px;
    padding-left: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    left: -10px;
}

.avisos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 5px;
}

.made-by {
    position: relative;
    top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*RESPONSIVE MÓVIL*/

@media screen and (min-width: 320px) and (max-width: 499px) {

    /*MENU E INICIO*/

    #check:checked ~ nav {
        display: flex;
    }

    .checkbtn {
        display: block;
    }

    h1 {
        margin-left: 20px;
    }

    nav {
        display: none;
        position: fixed;
        width: 80%;
        height: 60vh;
        top: 68px;
        right: 0;
        background-color: #2A2929;
        text-align: center;
        transition: all .5s; 
    }
 
    nav ul li {
        margin: 25px;
    }

    #inicio .contenido header .contenido-header nav ul li a {
        margin: 0;
        padding: 10px
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 30px;
    }

    #inicio .contenido .presentacion  {
        padding: 40px;
    }

    /*DATOS PERSONALES*/

    #datospersonales {
        flex-direction: column-reverse;
    }

    .izquierdaDP {
        height: 50vh;
        width: 100%;
    }

    .derechaDP {
        height: 50vh;
        width: 100%;
    }

    #contenido-datospersonales {
        text-align: center;
        position: relative;
        left: 40px;
        margin: 0;
    }

    .datosp {
        font-size: 25px;
        top: 100px;
    }

    .ul-datos {
        top: -20px;
        font-size: 15px;
    }

    /*FORMACION ACADEMICA*/

    .form-acad {
        font-size: 30px;
        padding: 0 5px;
        top: 100px;
    }

    .info {
        grid-template-columns: 1fr;
        font-size: 15px;
        justify-items: center;
        top: 130px;
    }

    .tmñ-sliders {
        width: 300px;
        padding: 0;
    }

    .ul-form {
        padding-top: 30px;
        padding-left: 40px;
    }

    .ul-form li {
        font-size: 20px;
    }

    /*EXPERIENCIA*/

    .exper {
       font-size: 30px; 
       padding-top: 30px;
    }

    .experiencia {
        padding-left: 40px;
        font-size: 20px;
    }

    .año2 {
        font-size: 23px;
    }

    /*HABILIDADES*/

    .habi {
        font-size: 30px;
        top: 100px;
    }

    .conteiner-habilidades {
        top: 150px;
    }

    .habilidades {
        flex-direction: column;
        width: 85vw;
        height: 70%;
        padding: 20px 60px;
    }

    .habilidades-ul {
        font-size: 15px;
        text-align: start;
    }

    .content-img {
        display: flex;
    }

    .habilidades-img ul {
        grid-template-columns: auto auto auto;
    }

    .habilidades-ul li {
        padding: 5px;
    }

    /*CONTACTO*/

    .h2-contact {
        font-size: 35px;
        top: -90px;
    }

    .contactame {
        grid-template-columns: 1fr;
        width: 95vw;
    }

    .cont {
        bottom: 255px;
    }

    .contact-info {
        box-shadow: 1px 1px 10px #16C1B9;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

}

/*RESPONSIVE TABLET MINI*/

@media screen and (min-width: 500px) and (max-width: 767px) {

    /*MENU E INICIO*/

    #check:checked ~ nav {
        display: flex;
    }

    .checkbtn {
        display: block;
    }

    h1 {
        margin-left: 20px;
    }

    nav {
        display: none;
        position: fixed;
        width: 80%;
        height: 60vh;
        top: 68px;
        right: 0;
        background-color: #2A2929;
        text-align: center;
        transition: all .5s; 
    }
 
    nav ul li {
        margin: 65px;
    }

    #inicio .contenido header .contenido-header nav ul li a {
        margin: 50px;
        padding: 34px;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 30px;
    }

    #inicio .contenido .presentacion  {
        padding: 40px;
    }

    /*DATOS PERSONALES*/

    #datospersonales {
        flex-direction: column-reverse;
    }

    .izquierdaDP {
        height: 50vh;
        width: 100%;
    }

    .derechaDP {
        height: 50vh;
        width: 100%;
    }

    #contenido-datospersonales {
        text-align: center;
        position: relative;
        left: 60px;
        margin: 0;
    }

    .datosp {
        font-size: 30px;
        top: 100px;
    }

    .ul-datos {
        top: -20px;
        font-size: 15px;
    }

    /*FORMACION ACADEMICA*/

    .info {
        grid-template-columns: 1fr;
        font-size: 20px;
        justify-items: center;
        top: 130px;
    }

    .tmñ-sliders {
        width: 500px;
        padding: 0;
    }

    .ul-form {
        padding-top: 40px;
        padding-left: 40px;
    }

    .ul-form li {
        font-size: 23px;
    }

    .form-acad {
        font-size: 35px;
        padding: 0 5px;
        top: 100px;
    }

    /*EXPERIENCIA*/

    .exper {
        font-size: 40px;
        position: relative;
        top: 30px;
    }
 
    .experiencia {
        padding-left: 50px;
        padding-top: 80px;
        font-size: 23px;
    }
 
    .año2 {
        font-size: 25px;
    }

    /*HABILIDADES*/

    .habi {
        font-size: 40px;
        top: 140px;
    }

    .conteiner-habilidades {
        top: 210px;
    }
    
    .habilidades {
        flex-direction: column;
        width: 85vw;
        height: 70%;
        padding: 20px 60px;
    }

    .habilidades-ul {
        font-size: 20px;
        text-align: start;
    }

    .content-img {
        display: flex;
    }

    .habilidades-img ul {
        grid-template-columns: auto auto auto;
    }

    .habilidades-ul li {
        padding: 5px;
    }

    /*CONTACTO*/

    .h2-contact {
        top: -70px;
    }

    .contactame {
        grid-template-columns: 1fr;
        width: 95vw;
    }

    .cont {
        bottom: 200px;
    }

    .contact-info {
        box-shadow: 1px 1px 10px #16C1B9;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

}


/*RESPONSIVE TABLET*/

@media screen and (min-width: 768px) and (max-width: 900px) {

    /*MENU E INICIO*/

    #check:checked ~ nav {
        display: flex;
    }

    .checkbtn {
        display: block;
    }

    h1 {
        margin-left: 20px;
    }

    nav {
        display: none;
        position: fixed;
        width: 80%;
        height: 60vh;
        top: 68px;
        right: 0;
        background-color: #2A2929;
        text-align: center;
        transition: all .5s; 
    }
 
    nav ul li {
        margin: 0;
        display: flex !important;
        justify-content: center;
    }

    #inicio .contenido header .contenido-header nav ul li a {
        margin: 30px;
        padding: 30px;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 30px;
    }

    #inicio .contenido .presentacion  {
        padding: 40px;
    }

    /*DATOS PERSONALES*/

    #datospersonales {
        flex-direction: column-reverse;
    }

    .izquierdaDP {
        height: 50vh;
        width: 100%;
    }

    .derechaDP {
        height: 50vh;
        width: 100%;
    }

    #contenido-datospersonales {
        text-align: center;
        position: relative;
        left: 80px;
        margin: 0;
    }

    .datosp {
        font-size: 40px;
        top: 100px;
    }

    .ul-datos {
        top: -20px;
        font-size: 22px;
    }

    /*FORMACION ACADEMICA*/

    .info {
        grid-template-columns: 1fr;
        font-size: 20px;
        justify-items: center;
        top: 130px;
    }

    .tmñ-sliders {
        width: 650px;
        padding: 0;
    }

    .ul-form {
        padding-top: 40px;
        padding-left: 70px;
    }

    .ul-form li {
        font-size: 23px;
    }

    .form-acad {
        font-size: 40px;
        padding: 0 5px;
        top: 100px;
    }

    /*EXPERIENCA*/

    .exper {
        font-size: 45px;
    }

    .experiencia {
        padding-top: 50px;
        padding-left: 50px;
    }

    /*HABILIDADES*/

    .habi {
        font-size: 45px;
        top: 140px;
    }

    .conteiner-habilidades {
        top: 210px;
    }
    
    .habilidades {
        flex-direction: column;
        width: 80vw;
        height: 70%;
        padding: 20px 60px;
    }

    .habilidades-ul {
        font-size: 25px;
        text-align: start;
    }

    .content-img {
        display: flex;
    }

    .habilidades-img ul {
        grid-template-columns: auto auto auto;
    }

    .habilidades-ul li {
        padding: 5px;
    }

    /*CONTACTO*/

    .h2-contact {
        font-size: 45px;
    }

    .contactame {
        width: 80vw;
    }

    .cont {
        bottom: 160px;
    }

    .contact-form form {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

}

/*RESPONSIVE DESKTOP*/

@media screen and (min-width: 901px) and (max-width: 1200px) {

    /*MENU E INICIO*/

    h1 {
        padding-left: 20px;
    }

    nav {
        font-size: 1.3vw;
    }

    #inicio .contenido .presentacion h2 {
        margin: 0;
        font-size: 40px;
    }

    #inicio .contenido .presentacion  {
        padding: 100px;
    }

    /*DATOS PERSONALES*/

    .izquierdaDP {
        width: 40%;
    }
    
    .derechaDP {
        width: 60%;
    }

    .datosp {
        top: 80px;
    }

    /*FORMACION ACADEMICA*/

    .info {
        top: 90px;
    }

    .ul-form {
        padding: 0 25px;
    }

    /*HABILIDADES*/

    .habi {
        top: 130px;
    }

    .conteiner-habilidades {
        top: 200px;
    }

    .habilidades-ul {
        font-size: 19px;
    }

    /*CONTACTO*/

    .h2-contact {
        top: -65px ;
    }

    .cont {
        bottom: 200px;
    }

    .contactame {
        height: 90%;
    }

    .contact-form {
        font-size: 20px;
    }

    .contact-info {
        font-size: 20px;
    }

}


