* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

/** SECCION "INICIO"*/

#inicio {
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("Fondo1.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#inicio .contenido header {
	background-color: rgba(22,193,185, .8);
	position: fixed;
	width: 100%;
    z-index: 100;
	top: 0;
    min-height:  30px;
    max-height: 70px;
}

#inicio .contenido header .contenido-header {
	max-width: 1100px ;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px ;
    text-decoration: none;
}

h1 {
    font-size: 2em;
	color: #fff;
}

#inicio .contenido header .contenido-header  nav ul li {
    display: inline-block;
}

#inicio .contenido header .contenido-header  nav ul li a {
	text-decoration: none;
	color: #fff;
	margin: 0 12px;
	font-weight: 400;
	transition: 0.4s;
    text-shadow: 1px 1px 5px grey;
    overflow: hidden;
    padding: 30px 15px 24px 15px;
}

#inicio .contenido header .contenido-header  nav ul li a:hover {
	background-color: none;
    box-shadow: inset 0px 0 25px #fff;
}

header.abajo {
    box-shadow: inset 0 0 15px #fff; 
}

#inicio .contenido .presentacion {
	height: 100vh;
	margin: auto;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 300px;
}

#inicio .contenido .presentacion h2 {
	font-size: 55px;
	margin-bottom: 25px;
}

#name-color {
    color: #F99831;
}

.soy {
	color: #16C1B9;
}

.checkbtn {
    font-size: 30px;
	color: #fff;
    float: right;
    display: none;
    cursor: pointer;
    margin-right: 20px;
}

#check {
    display: none;
}

/** SECCION "DATOS PERSONALES"*/

/**SECTION*/
#datospersonales {
    display: flex;
}

/** FOTO DE FONDO DE CARL izq*/
.izquierdaDP {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("CARL.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 50%;
    display: flex;
}

/** FONDO DE COLOR NARANJA derecha */
.derechaDP {
    background-color: #C87115;
    display: flex;
    height: 100vh;
    width: 50%;
}

/** TITULO DE LOS DATOS PERSONALES DEL CV*/
.datosp {
    position: relative;
    top: -120px;
    left: -20px;
    color: #fff;
    font-size: 50px;
    display: flex;
    text-align: right;
    justify-content: flex-start;
}

/** LOS DATOS PERSONALES DEL CV*/
.ul-datos {
    position: relative;
    top: -30px;
    color: #5F3304;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li span {
    color: #fff ;
}

/** CONTENIDO DE LOS DATOS PERSONALES, (.datosp + .ul)*/
#contenido-datospersonales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 0 60px;
    margin: 0 60px;    
}

/** SECCION "FORMACION ACADEMICA"*/

#formacionacademica {
    background-color: #1D1C1C;
    height: 100vh;
    font-size: 20px;
}

.form-acad {
    font-size: 50px;
    color: #16C1B9;
    text-align: center;
    padding-top: 100px;
    top: 50px;
    position: relative;
}

.ul-form li {
    font-size: 25px;
    color: #16C1B9;
}

.ul-form li span {
    color: #fff;
}

.a침os {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding-bottom: 35px;
}

.info {
    position: relative;
    display: flex;
    width: 80vw;
    height: 35vw;
    align-items: center;
    color: #fff;
    bottom: -50px;
    top: 50px;
    left: 175px;
    flex-direction: row;
    justify-content: space-between;
}

.sliders {
    width: 800px;
    height: 450px;
    overflow: hidden;
    border: #16C1B9 solid 5px;
}

.sliders ul {
    display: flex;
    width: 300%;
    animation: slide 15s infinite;
    animation-direction: normal ;
}

.sliders li {
    list-style: none;
    width: 100%;
}

.sliders img {
    width: 100%; 
}

@keyframes slide {
    0% {margin-left: 0%;}
    28% {margin-left: 0%;}

    33% {margin-left: -100%;}
    61% {margin-left: -100%;}

    66% {margin-left: -200%;}
    94% {margin-left: -200%;} 
}

/** SECCION "EXPERIENCIA" */
#experiencia {
    background-color: #1D1C1C;
    background-size: cover;
    background-position: center, center;
    height: 100vh;
}

.contenido-experiencia {
    padding-top: 80px;
    font-size: 20px;
    color: #fff;
}

.a침o2 {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    padding-bottom: 35px;
}

.a침o2 span {
    color: #fff;
}

.exper {
    font-size: 50px;
    color: #16C1B9;
    padding-top: 60px;
    padding-left: 80px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    font-size: 25px;
}

/** SECCION "HABILIDADES"*/

#habilidades {
    background-color: #1D1C1C;
    height: 100vh;
}

.habilidades-ul {
    font-size: 25px;
    background-color: #16C1B9;
    width: 600px;
    height: 400px;
    padding: 60px;
    color: #2A2929;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 5px 5px 15px #16C1B9;
}

.contenido-habilidades {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top: 200px;
    padding-left: 200px;
}

.habi {
    position: relative;
    top: 150px;
    padding-left: 200px;
    font-size: 50px;
    color: #16C1B9;
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

.content-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-habilidades {
    width: 500px;
    height: 400px;
    margin: 0;
    background-color: transparent;
    border: #16C1B9 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 200px;
    bottom: 200px;
    position: relative;
    box-shadow: 5px 5px 15px #16C1B9;
}

.img-habilidades ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.img-habilidades ul li {
    padding: 20px;
}



/** SECCION "CONTACTO"*/

#contacto {
    background: #1D1C1C;
    width: auto;
    height: 100vh;
    padding: 50px;
    color: #fff;
    position: relative;
}

.h2-contact {
    padding-bottom: 200px;
    font-size: 50px;
    color: #16C1B9;
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact-info {
    background-color: #000000;
    padding: 16px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: 5px;
}

.contact-info ul li i {
    color: #16C1B9;
}


.contact-form {
    padding: 20px;
}

.contact-form form {
    margin: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 11px;
    border: none;
    background: none;
    border-bottom: 1px solid #16C1B9;
    outline: none;
    color: #fff;
}

.contact-form form p {
    padding: 10px;
}

.contact-form form button {
    background-color: #16C1B9;
    border: 0;
    color: #000000;
    text-transform: uppercase;
    padding: 16px;
}

.contact-form form button:hover {
    box-shadow: 1px 1px 10px #16C1B9;
    transition: .3s;
    outline: 0;
}

.contactame {
    width: 50vw;
    height: 500px;
    background-color: #2A2929;
    box-shadow: 0 0 15px #16C1B9;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cont {
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
}

.content2 {
    position: relative;
    top: 150px;
}

.CV-descarga {
    list-style: none;
    text-decoration: none;
    color: #000000;
    background-color: #16C1B9;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
}

.CV-descarga:hover {
    box-shadow: 1px 1px 15px #16C1B9;
    transition: .3s;
    outline: 0;
}

.Descarga {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 290px;
}

/**SECCION PIE DE PAGINA*/

footer {
    background-color: #16C1B9;
    width: 100%;
    height: 200px;
    font-size: 15px;
}

.contenedor-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    padding-top: 20px;
    position: relative;
    top: 5px;
}

.contenedor-footer a {
    list-style: none;
    text-decoration: none;
    color: #000000;
}

.contenedor-footer a i {
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}

.contenedor-footer a i:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #000000;
    color: #16C1B9;
    transition: .3s;
}

footer h2 b {
    font-family: 'Arapey', serif;
    font-size: 40px;
    padding-left: 20px;
}

.logo-footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    left: -10px;
}

.avisos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 5px;
}

.made-by {
    position: relative;
    top: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
}



/**RESPONSIVE*/
@media screen and (max-width: 650px) {

    /**Menu e Inicio*/

    h1 {
        padding-left: 30px;
    }

    #inicio .contenido .presentacion {
        padding: 50px;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    .checkbtn {
        display: block;
    }

    nav {
        position: fixed;
        width: 97%;
        height: 60vh;
        top: 68px;
        background-color: #2A2929;
        text-align: center;
        transition: all .5s; 
    }

    nav ul li {
        margin: 25px;
        line-height: 30px;
    }

    #inicio .contenido header .contenido-header  nav ul li a:hover {
        background-color: #fff;
        opacity: .6;
        color: #2A2929;
        box-shadow: none;
        padding: 20px;
    }

    /**Datos Personales*/

    #datospersonales {
        display: flex;
    }

    .izquierdaDP {
        background: none;
    }

    .derechaDP {
        width: 100%;
    }

    .datosp {
        font-size: 30px;
        padding-top: 130px;
        left: -100px;
        text-align: left;
    }

    .ul-datos {
        text-align: left;
        left: -80px;
        font-size: 18px;
        justify-content: center;
    }


    /**Formacion Academica*/

    .form-acad {
        font-size: 30px;
        top: -10px;
    }
    
    .info {
        display: grid;
        grid-template-columns: 1fr;
        top: 250px;
        align-items: center;
        justify-content: center;
    }
    
    .sliders {
        width: auto;
        height: auto;
        overflow: hidden;
        border: #16C1B9 solid 5px;
        left: -140px;
        top: -150px;
        position: relative;
    }

    .ul-form {
        left: -130px;
        position: relative;
    }

    .ul-form li {
        font-size: 18px;
    }

    /**Experiencia*/

    .exper {
        font-size: 30px;
        padding: 90px;
    }

    .experiencia {
        position: relative;
        left: -40px;
        font-size: 15px;
    }

    .experiencia li {
        top: -15px;
        padding: 5px;
        font-size: 20px;
    }

    /**Habilidades*/

    .habi {
        font-size: 30px;
        left: -115px;
        top: 110px;
    }
    
    .img-habilidades {
        width: 300px;
        height: 200px;
        top: 150px;
        right: 0;
        bottom: 0;
    }

    .content-img {
        display: flex;
        justify-content: center;
    }
    
    .img-habilidades ul {
        text-decoration: none;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .img-habilidades ul li {
        padding: 0;
    }

    .contenido-habilidades {
        top: 120px;
        left: 60px;
        padding: 20px;
    }

    .habilidades-ul {
        position: relative;
        left: -60px;
        font-size: 14px;
        padding: 5px 25px;
        width: 600px;
        height: 300px;
    }

    .img-habilidades ul li img {
        position: relative;
        width: 80%;
        left: 10px;
    }

    /**Contacto*/

    .cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h2-contact {
        position: relative;
        top: -110px;
        font-size: 30px;
        padding-bottom: 0;
    }

    .contactame {
        grid-template-columns: 1fr;
        width: 600px;
        height: 450px;
        position: relative;
        top: 15px;
        font-size: 15px;
    }

    .contact-form form p {
        padding: 10px;
    }

    .contact-form form {
        padding: 0;
    }

    .contact-form {
        padding: 10px;
    }

    .contact-info {
        box-shadow: 0 5px 10px #16C1B9;
    }

    .Descarga {
        top: 0;
    }

    /**Pie de Pagina*/

    footer h2 b {
        font-size: 35px;
    }

}


/**Responsive Intermedio
@media screen and (max-width:1270px){

    .img-CJ {
        width: 45%;
        padding: 145px 0 0 35px;
    }

    header, header.abajo {
        padding: 0 0;
    }

    .checkbtn {
        display: block;
    }

    header {
        height: 70px;
        padding-right: 40px;
        background-color: #186B8D;
    }
    
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 70px;
        background-color: #48484b;
        text-align: center;
        transition: all 0.5s;
        box-shadow: inset 0px 0 15px #fff;
    }

    nav ul li {
        display: block;
        margin: 50px 50px;
        line-height: 40px;
    }

    #check:checked ~ ul {
        right: 0;

    }

    li a.active, li a:hover {
        color: #000000;
        display: block;
        background-color: none;
        box-shadow: 0 0 25px 6px #186B8D;
        text-shadow: none;
    }
    
    .logo img {
        height: 70px;
        margin-right: 100px
    }

    .padre {
        font-size: 20px;
    }
    
    .hijo {
        padding: 140px 0 0 0;
    }
}
*/

/** Responsive para Tablets
@media screen and (max-width: 910px){

    .padre {
        font-size: 18px;
    }
    
    .hijo {
        padding: 140px 0 0 0;
    }

    .img-CJ {
        width: 45%;
        padding: 145px 0 0 35px;
    }

    header, header.abajo {
        padding: 0 0;
    }

    .checkbtn {
        display: block;
    }

    header {
        height: 70px;
        padding-right: 40px;
        background-color: aqua;
    }
    
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 70px;
        background-color: #48484b;
        text-align: center;
        transition: all 0.5s;
        box-shadow: inset 0px 0 15px #fff;
    }

    nav ul li {
        display: block;
        margin: 50px 50px;
        line-height: 40px;
    }

    #check:checked ~ ul {
        right: 0;

    }

    li a.active, li a:hover {
        color: #000000;
        display: block;
        background-color: none;
        box-shadow: 0 0 25px 6px #186B8D;
        text-shadow: none;
    }
    
    .logo img {
        height: 70px;
        margin-right: 100px
    }
 
}  

/**Responsive para M칩viles 
@media screen and (max-width: 650px){

    .padre {
        font-size: 13px;
    }
    
    .hijo {
        padding: 140px 0 0 0;
    }

    .img-CJ {
        width: 50%;
        padding: 145px 0 0 30px;
    }

    header, header.abajo {
        padding: 0 0;
    }

    .checkbtn {
        display: block;
    }

    header {
        height: 70px;
        padding-right: 40px;
        background-color: yellow;
    }
    
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 70px;
        background-color: #48484b;
        text-align: center;
        transition: all 0.5s;
        box-shadow: inset 0px 0 15px #fff;
    }

    nav ul li {
        display: block;
        margin: 50px 50px;
        line-height: 40px;
    }

    #check:checked ~ ul {
        right: 0;

    }

    li a.active, li a:hover {
        color: #000000;
        display: block;
        background-color: none;
        box-shadow: 0 0 25px 6px #186B8D;
        text-shadow: none;
    }
    
    .logo img {
        height: 70px;
        margin-right: 100px
    }
 
}  

 Responsive para resoluciones mini
@media screen and (max-width:300px){

    .padre {
        background-color: none;
        display: flex;
        align-items: center;
        font-size: 5px;
    }
    
    .hijo {
        padding: 20px 0 0 0;
    }

    .img-CJ {
        width: 35%;
        padding: 20px 0 0 10px;
    }

    header, header.abajo {
        padding: 0 0;
    }

    .checkbtn {
        font-size: 25px;
        display: block;
        width: 3px;
        padding-right: 30px;
    }

    header {
        height: 50px;
        padding-right: 10px;
    }
    
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 50px;
        background-color: #48484b;
        text-align: center;
        transition: all 0.5s;
        box-shadow: inset 0px 0 15px #fff;
    }

    nav ul li {
        display:block;
        margin: 0 0;
        line-height: 1px;
    }

    nav ul li a {
        font-size: 10px;
        padding: 10px 50px;
        margin: 0;
    }

    #check:checked ~ ul {
        right: 0;

    }

    li a.active, li a:hover {
        color: #000000;
        display: block;
        background-color: none;
        box-shadow: 0 0 25px 6px #186B8D;
        text-shadow: none;
    }
    
    .logo img {
        height: 50px;
        margin: 0 0;
    }   
}

*/